*{
  color: #333333;
  font-family: Century Gothic, sans-serif;
}
h1{
  color: blue;
  font-size: 50px;
}
body{
  margin: 0;
  padding: 0;
  background-color: #dce5b7;
}
.menu
{
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: #40577c;
  margin:0;
  bottom: 0.5px;
}
.form
{
  position: relative;
  margin-left: 22%;
  width:50%;

}
input{
padding: 12px;
margin: 12px;
width: 300%;
border:1px solid #ccc;
border-radius: 4px;
}
button[type=submit]{
  padding: 14px;
  margin: 14px;
  width: 30%;
  float: right;
  right: inherit;
  border:1px solid #ccc;
  border-radius: 4px;
  background-color: #38bf31;
  color: white;
}
.aq
{
  position: relative;;
  margin-top: 40%;
  list-style: none;
  right: 40px;
  width: 100%;

}

.aq li:hover{
  background-color: #0e2359;
  cursor: pointer;
}
.aq li{
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.aq li a{
  text-decoration: none;
}
